{% extends 'base.html' %}

{% load static %}
{% load accounts_tags %}

{% block title %}| Profile {% endblock title %}

{% block content %}

{% get_dominant_color request.user as dominant_col %}

<div id="titlebar" class="single">
	<div class="container-own">

		<div class="sixteen columns">
			<h2>Profile / {{ user.company.company_name }}</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="{% url 'index' %}">Home</a></li>
					<li>Profile</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="container-own">
{% if messages %}
	{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
	{% endif %}
{% endif %}
</div>

<div style="padding-top:10px;"></div>

<div class="container-own">
	<div class="sixteen columns">

            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{ user.company.company_thumb.url }}" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ user.company.company_name }}
                                    </h5>
                                    <h6 {% if dominant_col %}style="color:{{ dominant_col }}"{% endif%}>
                                        {{ user.company.company_description }}
                                    </h6>
                                    <div style="padding-top:10px;"></div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" {% if dominant_col %}style="color:{{ dominant_col }}"{% endif%}>About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" {% if dominant_col %}style="color:{{ dominant_col }}"{% endif%}>Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'accounts:settings' %}">
                            <button type="button" class="profile-edit-btn" style="color: white; box-shadow: 3px 4px #333">Edit profile</button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>YOUR LINKS</p>
							{% if user.company.company_website %}
                            <a href="{{ user.company.company_website }}">Website Link</a><br/>
							{% endif %} 
							{% if user.company.twitter_link %}
                            <a href="{{ user.company.twitter_link }}">@{{user.company.company_name|lower}}</a><br/>
							{% endif %}
                            <a href="">Bootply Profile</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        {% get_dominant_color request.user as dominant_col %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                               <p {% if dominant_col %}style="color:{{ dominant_col }}"{% endif%}>Kshiti123</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Company description</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p {% if dominant_col %}style="color:{{ dominant_col }}"{% endif%}>{{ user.company.company_description }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p {% if dominant_col %}style="color:{{ dominant_col }}"{% endif%}>{{ user.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p {% if dominant_col %}style="color:{{ dominant_col }}"{% endif%}> {{ user.company.phone_number }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Dominant color</label>
                                            </div>
                                            <div class="col-md-6">
                                                {% if user.company.dominant_color_in_model %}<span class="dot" style="background-color:{% get_dominant_color request.user %}"></span>{% endif %}
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Resumes bookmarked</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ bookmarked_resumes|length }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Jobs posted</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ jobs|length }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>X</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>X</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>X</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>X</p>
                                            </div>
                                        </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </form>           


	</div>
</div>


<div style="padding-top:10px; border-top: 1px solid #bbb;"></div>

<!-- Content
================================================== -->
<div class="container-own">
	
	<!-- My jobs listing -->
	<div class="sixteen columns">

    <div>
        <h1 class="margin-bottom-25" style="box-shadow: 3px 3px;
                                            border-top: solid 1px;
                                            border-left: solid 1px;
                                            text-align: center;">
                                            MY JOBS</h1>
    </div>


		<p class="margin-bottom-25">Your job listings are shown in the table below. Expired listings will be automatically removed the list.</p>

		<table class="manage-table responsive-table">

			<tr>
				<th><i class="fa fa-file-text"></i> Title</th>
				<th><i class="fa fa-check-square-o"></i> Filled?</th>
				<th><i class="fa fa-calendar"></i> Date Posted</th>
				<th><i class="fa fa-calendar"></i> Date Expires</th>
				<th><i class="fa fa-users"></i> Applications</th>
				<th></th>
			</tr>
					
			<!-- Item #2 -->
			{% if jobs %}
                {% for job in jobs %}
                    <tr>
                        <td class="title"><a href="{% url 'jobposts:job-detail' job.id %}">{{ job.title }}</a></td>
                        <td class="centered">-</td>
                        <td>{{ job.created_at }}</td>
                        <td>{{ job.closing }}</td>
                        <td class="centered"><a href="manage-applications.html" class="button">Show (0)</a></td>
                        <td class="action">
                            <a href="{% url 'jobposts:job-update' job.id %}"><i class="fa fa-pencil"></i> Edit</a>
                            <a href="#"><i class="fa  fa-check "></i> Mark Filled</a>
                            <a href="{% url 'jobposts:job-delete' job.id %}" class="delete"><i class="fa fa-remove"></i> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>You haven't posted any jobs in our website. Why not <a href="{% url 'jobposts:job-create'%}">start now</a>?</p>
			{% endif %}	
		</table>

		<br>
		<a href="{% url 'jobposts:job-create'%}" class="button" style="margin-bottom:30px; margin-top:30px;">Add Job</a>

	</div>

</div>

<div class="container-own">
	
	<!-- Bookmarked resumes -->
	<div class="sixteen columns">

    <div>
        <h1 class="margin-bottom-25" style="box-shadow: 3px 3px;
                                            border-top: solid 1px;
                                            border-left: solid 1px;
                                            text-align: center;">
                                            Bookmarked Resumes</h1>
    </div>


		<p class="margin-bottom-25">Your saved/bookmarked resumes are shown in the table below.</p>

		<table class="manage-table responsive-table">

			<tr>
                <th><i class="fa fa-picture-o"></i> Picture</th>
				<th><i class="fa fa-file-text"></i> Name</th>
				<th><i class="fa fa-key"></i> Professional title</th>
				<th><i class="fa fa-calendar"></i> Date Posted</th>
				<th><i class="fa fa-calendar"></i> Saved</th>
				<th><i class="fa fa-location-arrow"></i> Location</th>
				<th></th>
			</tr>
					
			<!-- Item #2 -->
			{% if bookmarked_resumes %}
                {% for res in bookmarked_resumes %}
                    <tr>
                        <td><img style="width:100px; border-radius:50%;" src="{{ res.resume.owner.candidateprofile.image.url }}" alt=""></td>
                        <td class="title"><a href="{% url 'accounts:resume' res.resume.id %}">{{ res.resume.name }}</a></td>
                        <td class="centered"> {{ res.resume.professional_title }}</td>
                        <td>{{ res.resume.date_created|date:"d, M, Y"}}</td>
                        <td>{{ res.done_time|date:"d, M, Y" }}</td>
                        <td class="centered">{{ res.resume.location }}</td>
                        <td class="action">
                            <a href="{% url 'accounts:resume' res.resume.id %}"><i class="fa  fa-eye "></i> See</a>
                            <a href="{% url 'jobposts:resume-unbookmark' res.resume.id %}" class="delete"><i class="fa fa-remove"></i> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>You haven't posted any jobs in our website. Why not <a href="{% url 'jobposts:browse-resumes' %}">start now</a>?</p>
			{% endif %}	
		</table>

		<br>
		<a href="{% url 'jobposts:browse-resumes' %}" class="button" style="margin-bottom:30px; margin-top:30px;">Explore Resumes</a>

	</div>

</div>

{% endblock %}