{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<!-- Titlebar
================================================== -->
<div id="titlebar" class="single submit-page">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-plus-circle"></i> Settings</h2>
		</div>

	</div>
</div>

<!-- Content
================================================== -->
<div class="container-own">
	
	<!-- Submit Page -->
	<div class="sixteen columns">
		<div class="submit-page">
        <form method="POST" action="{% url 'accounts:settings' %}" enctype="multipart/form-data" id="showall">
            {% csrf_token %}
			<!-- Email -->
			<div class="form">
				<h5>Email</h5>
				{{ u_form.email }}
			</div>

			<!-- Title -->
			<div class="form">
				<h5>Company Name</h5>
                {{ p_form.company_name }}
			</div>

			<!-- Location -->
			<div class="form">
				<h5>Description <span>(field of work)</span></h5>
                {{ p_form.company_description }}
			</div>

			<!-- Job Type -->
			<div class="form">
				<h5>Image</h5>
				{{ p_form.company_thumb }}
			</div>

			<!-- Phone number -->
			<div class="form">
				<h5>Phone Number <span>(optional)</span></h5>
				{{ p_form.phone_number|as_crispy_field }}
			</div>


			<!-- Website -->
			<div class="form">
				<h5>Website</h5>
                {{ p_form.company_website|as_crispy_field }}
			</div>

			<!-- Twitter link -->
			<div class="form">
	            <h5><i class="fa fa-twitter-square"></i> Twitter<span>(optional)</span></h5>
                {{ p_form.twitter_link|as_crispy_field }}
			</div>

		
			<!-- Company Name -->
			<div class="form">
				<h5>Dominant color (hex code)<span>(ptional)</span></h5>
				{{ p_form.dominant_color_in_model }}
			</div>

            <div style="padding-top:10px; border-top: 1px solid #bbb;"></div>
			<button type="submit" class="button big margin-top-5">Update <i class="fa fa-arrow-circle-right"></i></button>
        </form>
		</div>
	</div>

</div>

{% endblock %}