{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} | Post a job {% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single submit-page">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-plus-circle"></i> Add Job</h2>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	
	<!-- Submit Page -->
	<div class="sixteen columns">
		<div class="submit-page">
        <form method="POST">
            {% csrf_token %}

			<!-- Title -->
			<div class="form">
				<h5>Job Title</h5>
				{{ form.title }}
			</div>

			<!-- Location -->
			<div class="form">
				<h5>Location</h5>
				{{ form.location }}
			</div>

			<!-- Job Type -->
			<div class="form">
				<h5>Job Type</h5>
				{{ form.job_type }}
			</div>

			<!-- Years of experience required -->
			<div class="form">
				<h5>Experience required</h5>
				{{ form.years_of_exp }}
			</div>


			<!-- Choose Category -->
			<div class="form">
				<div class="select">
					<h5>Category <span>(select one or more categories)</span></h5>
					<div style="overflow:scroll; height:300px;">
					{{ form.category }}
					<div>
				</div>
			</div>

			<!-- Description -->
			<div class="form">
				<h5>Description</h5>
				{{ form.description }}
			</div>

			<!-- Application email/url -->
			<div class="form">
				<h5>Application email / URL</h5>
				{{ form.apply_url|as_crispy_field }}
			</div>

            <div class="form">
				<h5>Salary <span>(optional)</span></h5>
				{{ form.salary }}
			</div>

            <div class="form">
				<h5>Originally posted on <span>(optional, was this post posted somewhere else originally?)</span></h5>
				{{ form.originally_posted_url|as_crispy_field }}
			</div>

			<!-- TClosing Date -->
			<div class="form">
				<h5>Closing Date <span>(optional)</span></h5>
				{{ form.closing|as_crispy_field }}
			</div>

			{% url 'job-create' as jc %}
            <div class="divider margin-top-0"></div>
			<button type="submit" class="button big margin-top-5" style="margin-bottom:30px;">{% if jc in request.path %}Post {%else%}Update {%endif%}<i class="fa fa-arrow-circle-right"></i></button>

        </form>
		</div>
	</div>

</div>

{% endblock content %}

