{% extends 'base.html' %}

{% block title %}| Categories {% endblock title %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background: url(https://estonianworld.com/wp-content/uploads/2018/02/P%C3%A4rnu-Rene-K%C3%BC%C3%BCsvek-1-1024x683.jpg); background-attachment: fixed; width:100%">
	<div class="container-own">
		<div class="ten columns">
			<h2>All Categories</h2>
		</div>

		<div class="six columns">
			<a href="add-job.html" class="button">Post a Job, It’s Free!</a>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div id="categories">
	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container-own">
			<div class="four columns"><h4>Web, Software & IT</h4></div>
			<div class="four columns">
				<ul>
				{% for cat in categories1 %}
					<li><a href="{% url 'jobposts:search' %}?category_val={{ cat.category__title }}">{{ cat.category__title }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="four columns">
				<ul>
				{% for cat in categories2 %}
					<li><a href="{% url 'jobposts:search' %}?category_val={{ cat.category__title }}">{{ cat.category__title }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="four columns">
				<ul>
				{% for cat in categories3 %}
					<li><a href="{% url 'jobposts:search' %}?category_val={{ cat.category__title }}">{{ cat.category__title }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}