{% block bookmark %}

{% load candidate_tags %}

{% if user.is_authenticated and user.is_candidate %}
    <div class="bookmark">
        {% is_bookmarked job.id request.user as is_booked %}
            {% if is_booked %}
                <a href="{{ job.get_unbookmark_url }}">
                    <img id="bookmarked-{{ job.id }}" src="https://img.icons8.com/ios-filled/50/000000/bookmark-ribbon.png"/>
                </a>
            {% else %}
                <a href="{{ job.get_bookmark_url }}">
                    <img id="bookmarked-{{ job.id }}" src="https://img.icons8.com/ios/50/000000/bookmark-ribbon.png"/>
                </a>
            {% endif %}

            <!-- jQuery to change bookmark icon on hover depending on the job id -->
            <script>
                $(document).ready(function(){
                    $("img[id^='bookmarked-{{ job.id }}']").on({
                        {% if is_booked %}
                            mouseenter: function() {
                                $(this).attr("src","https://img.icons8.com/ios/50/000000/bookmark-ribbon.png");
                            },
                            mouseleave: function() {
                                $(this).attr("src","https://img.icons8.com/ios-filled/50/000000/bookmark-ribbon.png");
                            }
                        {% else %}
                            mouseenter: function() {
                                $(this).attr("src","https://img.icons8.com/ios-filled/50/000000/bookmark-ribbon.png");
                            },
                            mouseleave: function() {
                                $(this).attr("src","https://img.icons8.com/ios/50/000000/bookmark-ribbon.png");
                            }
                        {% endif %}
                    });	
                });
            </script>
    </div>
    {% endif %}

{% endblock %}