{% extends "base.html" %}

{% load static %}
{% load candidate_tags %}

{% block title %}| Browse {% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container-own">
		<div class="ten columns">
			{% if 'browse' in request.path %}
			<span>We have currently {{ total_jobs }} jobs:</span>
			{% endif %}
			{% if found_job_count > 0 %}
			<span>We found {{ found_job_count }} {% if found_job_count == 1%}job{%else%}jobs{%endif%}:</span>
			{% elif found_job_count == 0 %}
			<span>No jobs found</span>
			{% endif %}
			<h2>Web, Software & IT</h2>
		</div>
		
		{% if user.is_authenticated and user.is_employer %}
		<div class="six columns">
			<a href="#" class="button">Looking for someone? Post a Job now!</a>
		</div>
		{% endif %}
	</div>
</div>

<div class="container-own">
	{% if messages|length < 2 %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
</div>

<!-- Content
================================================== -->
<div class="container-own">
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<form action="{% url 'jobposts:search' %}" class="list-search">
			<button><i class="fa fa-search"></i></button>
			<input name="keywords" type="text" placeholder="job title, keywords or company name" value="{{ values.keywords }}" />
			<div class="clearfix"></div>
		</form>

		<div id="job-list">
				<ul class="job-list full infinite-container">

						{% for job in jobs %}
							<div class="infinite-item">
								<li>
									<img src="{{ job.company_name.company.company_thumb.url }}" alt="">
										<div class="job-list-content">
											<a href="{% url 'jobposts:job-detail' job.id %}" style="text-decoration:none;">
												<h4>{{ job.title }} {% if job.job_type == '1' %}<span class="full-time">Full-Time</span>{%endif%}{% if job.job_type == '2' %}<span class="part-time">Part-Time</span>{%endif%}</h4>
											</a>
											<div class="job-icons">
												<span style="margin-right:8px;"><i class="fa fa-briefcase"></i> {{ job.company_name.company.company_name }}</span>
												{% for loc in job.location.all %}
												<span><i class="fa fa-map-marker"></i> {{ loc }}</span>
												{% endfor %}									
											</div>
											{% if user.is_authenticated and user.is_candidate %}
											<div class="bookmark">
												{% is_bookmarked job.id request.user as is_booked %}
													{% if is_booked %}
														<a href="{{ job.get_unbookmark_url }}">
															<img id="bookmarked-{{ job.id }}" src="https://img.icons8.com/ios-filled/50/000000/bookmark-ribbon.png"/>
														</a>
													{% else %}
														<a href="{{ job.get_bookmark_url }}">
															<img id="bookmarked-{{ job.id }}" src="https://img.icons8.com/ios/50/000000/bookmark-ribbon.png"/>
														</a>
													{% endif %}

													<!-- jQuery to change bookmark icon on hover depending on the job id -->
													<script>
														$(document).ready(function(){
															$("img[id^='bookmarked-{{ job.id }}']").on({
																{% if is_booked %}
																	mouseenter: function() {
																		$(this).attr("src","https://img.icons8.com/ios/50/000000/bookmark-ribbon.png");
																	},
																	mouseleave: function() {
																		$(this).attr("src","https://img.icons8.com/ios-filled/50/000000/bookmark-ribbon.png");
																	}
																{% else %}
																	mouseenter: function() {
																		$(this).attr("src","https://img.icons8.com/ios-filled/50/000000/bookmark-ribbon.png");
																	},
																	mouseleave: function() {
																		$(this).attr("src","https://img.icons8.com/ios/50/000000/bookmark-ribbon.png");
																	}
																{% endif %}
															});	
														});
													</script>
											</div>
											{% endif %}
										</div>
									<div class="clearfix"></div>
								</li>
							</div>
						{% endfor %}

				</ul>

				<div class="loading" style="display:none;">
					<div class="spinner-border">
						Loading...
					</div>
				</div>	

				{% if jobs.has_next %}
					<a class="infinite-more-link" href="?page={{ jobs.next_page_number }}"></a>
				{% endif %}

		</div>

		<div id="job-list-salary-highest">
			<ul class="job-list full">

				<div class="infinite-container">
					{% for job in job_by_salary_desc %}
						<div class="infinite-item1">
							<li>
								<img src="{{ job.company_name.company.company_thumb.url }}" alt="">
								<div class="job-list-content">
									<a href="{% url 'jobposts:job-detail' job.id %}" style="text-decoration:none;">
										<h4>{{ job.title }} {% if job.job_type == '1' %}<span class="full-time">Full-Time</span>{%endif%}{% if job.job_type == '2' %}<span class="part-time">Part-Time</span>{%endif%}</h4>
									</a>
									<div class="job-icons">
										<span style="margin-right:8px;"><i class="fa fa-briefcase"></i> {{ job.company_name.company.company_name }}</span>
										{% for loc in job.location.all %}
											<span><i class="fa fa-map-marker"></i> {{ loc }}</span>
										{% endfor %}
									</div>

									{% include 'jobposts/browse_jobs_bookmark_script.html' %}

								</div>
								<div class="clearfix"></div>
							</li>
						</div>
					{% endfor %}
				</ul>
			

			<div id="pagination-container">
				{% if job_by_salary_desc.has_previous %}
						<a href="?page={{ job_by_salary_desc.previous_page_number }}&bydesc">
						<button id="load3" class="btn btn-outline-info mb-4 pag-margin">
							Back
						</button>
					</a>
				{% endif %}

				{% if job_by_salary_desc.has_next %}
					<a href="?page={{ job_by_salary_desc.next_page_number }}&bydesc">
						<button id="load3" class="btn btn-outline-info mb-4 pag-margin">
							Load more
						</button>
					</a>
				{% endif %}
			</div>

		</div>

		<div id="job-list-salary-lowest">
			<ul class="job-list full">

					{% for job in job_by_salary_asc %}
	
							<li>
								<img src="{{ job.company_name.company.company_thumb.url }}" alt="">
								<div class="job-list-content">
									<a href="{% url 'jobposts:job-detail' job.id %}" style="text-decoration:none;">
									<h4>{{ job.title }} {% if job.job_type == '1' %}<span class="full-time">Full-Time</span>{%endif%}{% if job.job_type == '2' %}<span class="part-time">Part-Time</span>{%endif%}</h4>
									</a>
									<div class="job-icons">
										<span style="margin-right:8px;"><i class="fa fa-briefcase"></i> {{ job.company_name.company.company_name }}</span>
										{% for loc in job.location.all %}
										<span><i class="fa fa-map-marker"></i> {{ loc }}</span>
										{% endfor %}
									</div>
									
									{% include 'jobposts/browse_jobs_bookmark_script.html' %}
									
								</div>
								<div class="clearfix"></div>
							</li>

					{% endfor %}

			</ul>

			<div id="pagination-container">
				{% if job_by_salary_asc.has_previous %}
						<a href="?page={{ job_by_salary_asc.previous_page_number }}&byasc">
						<button id="load3" class="btn btn-outline-info mb-4 pag-margin">
							Back
						</button>
					</a>
				{% endif %}

				{% if job_by_salary_asc.has_next %}
					<a href="?page={{ job_by_salary_asc.next_page_number }}&byasc">
						<button id="load3" class="btn btn-outline-info mb-4 pag-margin">
							Load more
						</button>
					</a>
				{% endif %}
			</div>

		</div>


		<div id="job-list-oldest">
			<ul class="job-list full">

					{% for job in job_by_oldest %}

							<li>
								<img src="{{ job.company_name.company.company_thumb.url }}" alt="">
								<div class="job-list-content">
									<a href="{% url 'jobposts:job-detail' job.id %}" style="text-decoration:none;">
									<h4>{{ job.title }} {% if job.job_type == '1' %}<span class="full-time">Full-Time</span>{%endif%}{% if job.job_type == '2' %}<span class="part-time">Part-Time</span>{%endif%}</h4>
									</a>
									<div class="job-icons">
										<span style="margin-right:8px;"><i class="fa fa-briefcase"></i> {{ job.company_name.company.company_name }}</span>
										{% for loc in job.location.all %}
										<span><i class="fa fa-map-marker"></i> {{ loc }}</span>
										{% endfor %}
									</div>
									{% include 'jobposts/browse_jobs_bookmark_script.html' %}
								</div>
								<div class="clearfix"></div>
							</li>

					{% endfor %}

			</ul>

			<div id="pagination-container">
				{% if job_by_oldest.has_previous %}
						<a href="?page={{ job_by_oldest.previous_page_number }}&byoldest">
						<button id="load1" value="job-list-oldest" class="btn btn-outline-info mb-4 pag-margin">
							Back
						</button>
					</a>
				{% endif %}

				{% if job_by_oldest.has_next %}
					<a href="?page={{ job_by_oldest.next_page_number }}&byoldest">
						<button id="load1" value="job-list-oldest" class="btn btn-outline-info mb-4 pag-margin">
							Load more
						</button>
					</a>
				{% endif %}
			</div>

		</div>

		<div id="job-list-type-fulltime">
			<ul class="job-list full">

				<div class="infinite-container">
					{% for job in jobs %}
						{% if job.job_type == '1' %}
							<div class="infinite-item4">
								<li>
									<img src="{{ job.company_name.company.company_thumb.url }}" alt="">
									<div class="job-list-content">
										<a href="{% url 'jobposts:job-detail' job.id %}" style="text-decoration:none;">
										<h4>{{ job.title }} {% if job.job_type == '1' %}<span class="full-time">Full-Time</span>{%endif%}{% if job.job_type == '2' %}<span class="part-time">Part-Time</span>{%endif%}</h4>
										</a>
										<div class="job-icons">
											<span style="margin-right:8px;"><i class="fa fa-briefcase"></i> {{ job.company_name.company.company_name }}</span>
											{% for loc in job.location.all %}
											<span><i class="fa fa-map-marker"></i> {{ loc }}</span>
											{% endfor %}
										</div>
										{% include 'jobposts/browse_jobs_bookmark_script.html' %}
									</div>
									<div class="clearfix"></div>
								</li>
							</div>
						{% endif %}
					{% endfor %}
				</div>

			</ul>

			<div id="pagination-container">
				{% if jobs.has_previous %}
						<a href="?page={{ jobs.previous_page_number }}&byfulltime">
						<button id="load1" value="job-list-oldest" class="btn btn-outline-info mb-4 pag-margin">
							Back
						</button>
					</a>
				{% endif %}

				{% if job_by_oldest.has_next %}
					<a href="?page={{ jobs.next_page_number }}&byfulltime">
						<button id="load1" value="job-list-oldest" class="btn btn-outline-info mb-4 pag-margin">
							Load more
						</button>
					</a>
				{% endif %}
			</div>

		</div>

		<div id="job-list-type-parttime">
			<ul class="job-list full">

				<div class="infinite-container">
					{% for job in jobs %}
						{% if job.job_type == '2' %}
							<div class="infinite-item5">
								<li>
									<img src="{{ job.company_name.company.company_thumb.url }}" alt="">
									<div class="job-list-content">
										<a href="{% url 'jobposts:job-detail' job.id %}" style="text-decoration:none;">
										<h4>{{ job.title }} {% if job.job_type == '1' %}<span class="full-time">Full-Time</span>{%endif%}{% if job.job_type == '2' %}<span class="part-time">Part-Time</span>{%endif%}</h4>
										</a>
										<div class="job-icons">
											<span style="margin-right:8px;"><i class="fa fa-briefcase"></i> {{ job.company_name.company.company_name }}</span>
											{% for loc in job.location.all %}
											<span><i class="fa fa-map-marker"></i> {{ loc }}</span>
											{% endfor %}
										</div>
										{% include 'jobposts/browse_jobs_bookmark_script.html' %}
									</div>
									<div class="clearfix"></div>
								</li>
							</div>
						{% endif %}
					{% endfor %}
				</div>

			</ul>

			<div id="pagination-container">
				{% if jobs.has_previous %}
						<a href="?page={{ jobs.previous_page_number }}&byparttime">
						<button id="load1" value="job-list-type2" class="btn btn-outline-info mb-4 pag-margin">
							Back
						</button>
					</a>
				{% endif %}

				{% if jobs.has_next %}
					<a href="?page={{ jobs.next_page_number }}&byparttime">
						<button id="load1" value="job-list-type2" class="btn btn-outline-info mb-4 pag-margin">
							Load more
						</button>
					</a>
				{% endif %}
			</div>

		</div>

		<div id="job-list-expiring">
			<ul class="job-list full">

					{% for job in job_by_expiring %}

								<li>
									<img src="{{ job.company_name.company.company_thumb.url }}" alt="">
									<div class="job-list-content">
										<a href="{% url 'jobposts:job-detail' job.id %}" style="text-decoration:none;">
										<h4>{{ job.title }} {% if job.job_type == '1' %}<span class="full-time">Full-Time</span>{%endif%}{% if job.job_type == '2' %}<span class="part-time">Part-Time</span>{%endif%}</h4>
										</a>
										<div class="job-icons">
											<span style="margin-right:8px;"><i class="fa fa-briefcase"></i> {{ job.company_name.company.company_name }}</span>
											{% for loc in job.location.all %}
											<span><i class="fa fa-map-marker"></i> {{ loc }}</span>
											{% endfor %}
										</div>
										{% include 'jobposts/browse_jobs_bookmark_script.html' %}
									</div>
									<div class="clearfix"></div>
								</li>

					{% endfor %}

			</ul>

			<div id="pagination-container">
				{% if job_by_expiring.has_previous %}
					<a href="?page={{ job_by_expiring.previous_page_number }}&byexpiring">
						<button id="load1" value="job-list-expiring" class="btn btn-outline-info mb-4 pag-margin">
							Back
						</button>
					</a>
				{% endif %}

				{% if job_by_expiring.has_next %}
					<a href="?page={{ job_by_expiring.next_page_number }}&byexpiring">
						<button id="load1" value="job-list-expiring" class="btn btn-outline-info mb-4 pag-margin">
							Load more
						</button>
					</a>
				{% endif %}
			</div>

		</div>

		<div class="clearfix"></div>
		
	</div>
	</div>
	
	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Sort by</h4>

			<!-- Select -->
			<select id="drop" data-placeholder="Choose Category">
				<option selected="selected" value="-created_at">Newest</option>
				<option value="created_at">Oldest</option>
				<option value="-expiring">Expiring Soon</option>
				<option value="-salary">Hourly Rate – Highest First</option>
				<option value="salary">Hourly Rate – Lowest First</option>
			</select>

		</div>

		<!-- Location -->
		<div class="widget">
			<h4>Location</h4>
			<form action="{% url 'jobposts:search' %}">
				<input type="text" placeholder="State / Province" value=""/>
				<input type="text" name="city" placeholder="City" value="{{ values.city }}"/>

				<input type="text" class="miles" placeholder="Km" value=""/>
				<label for="zip-code" class="from">from</label>
				<input type="text" id="zip-code" class="zip-code" placeholder="Zip-Code" value=""/><br>

				<button class="button">Filter</button>
			</form>
		</div>

		<!-- Job Type -->
		<div class="widget">
			<h4>Job Type</h4>

			<ul class="checkboxes">
				<li>
					<input id="check-1" type="checkbox" name="check" value="check-1" checked>
					<label for="check-1">Any Type</label>
				</li>
				<li>
					<input id="check-2" type="checkbox" name="check" value="check-2">
					<label for="check-2">Full-Time <span>({{ total_full_time_jobs }})</span></label>
				</li>
				<li>
					<input id="check-3" type="checkbox" name="check" value="check-3">
					<label for="check-3">Part-Time <span>({{ total_part_time_jobs }})</span></label>
				</li>
				<li>
					<input id="check-4" type="checkbox" name="check" value="check-4">
					<label for="check-4">Internship <span>(not implemented)</span></label>
				</li>
				<li>
					<input id="check-5" type="checkbox" name="check" value="check-5">
					<label for="check-5">Freelance <span>(not implemented)</span></label>
				</li>
			</ul>

		</div>

		<!-- Rate/Hr -->
		<div class="widget">
			<h4>Tech</h4>

			<ul class="checkboxes" style="overflow: scroll; height: 400px;">
				{% for cat in categories %}
					<li>
						<input id="check-{{ forloop.counter0|add:"6" }}" type="checkbox" name="category-title" value="{{ cat.title }}" {%if cat.title in request.get_full_path %}checked{%endif%}>
						<label for="check-{{ forloop.counter0|add:"6" }}">{{ cat.title }}</label>
					</li>
				{% endfor %}
			</ul>

		</div>

	</div>

</div>

{% endblock content %}