{% extends 'base.html' %}

{% block title %}  Resumes {% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container-own">
		<div class="ten columns">
			{% url 'jobposts:search-resumes' as sr %}
			{% if sr in request.path %}
			<span>We found {{ resumes|length }} resumes!</span>
			{% else %}
			<span>There is {{ resumes|length }} resume(s) uploaded on our website</span>
			{% endif %}
			<h2>Web, Software & IT</h2>
		</div>

		{% if user.is_authenticated and user.is_candidate %}
		<div class="six columns">
			<a href="{% url 'accounts:add-resume' %}" class="button">Post a Resume, It’s Free!</a>
		</div>
		{% endif %}

	</div>
</div>


<div class="container-own">
	{% if messages|length < 2 %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
</div>

<div style="padding-top:10px;"></div>

<!-- Content
================================================== -->
<div class="container-own">
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<form action="{% url 'jobposts:search-resumes' %}" class="list-search">
			<button><i class="fa fa-search"></i></button>
			<input name="keywords" type="text" placeholder="job title, keywords or company name" value="{{ values.keywords }}" />
			<div class="clearfix"></div>
		</form>

		<ul class="resumes-list">
			{% for resume in resumes %}
				<li>
					<img src="{{ resume.owner.candidateprofile.image.url }}" alt="">
						<div class="resumes-list-content">
							{% include 'jobposts/browse-resumes_script.html' %}

							<a style="text-decoration:none;" href="{% url 'accounts:resume' resume.id %}">
								<h4>{{ resume.owner.first_name }} {{ resume.owner.last_name }}<span>{{ resume.professional_title }}</span></h4>
							</a>	
							<br/>
							<span style="padding: 2px;"><i class="fa fa-map-marker"></i> {{ resume.location }}</span>
							<span><i class="fa fa-birthday-cake"></i> {{ resume.owner.candidateprofile.date_of_birth }}</span>
							<p>{{ resume.description|truncatewords_html:8|safe }}</p>

							<div class="skills">
								{% for skill in resume.owner.candidateprofile.skills.all %}
									<span>{{ skill }}</span>
								{% endfor %}
							</div>
						</div>
					<div class="clearfix"></div>
				</li>
			
			{% endfor %}
		</ul>
					
	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Sort by</h4>

			<!-- Select -->
			<select data-placeholder="Choose Category" class="chosen-select-no-single">
				<option selected="selected" value="recent">Relevance</option>
				<option value="">Hourly Rate – Highest First</option>
				<option value="">Hourly Rate – Lowest First</option>
			</select>

		</div>

		<!-- Skills -->
		<div class="widget">
			<h4>Skills</h4>

			<!-- Select -->
				<select data-placeholder="Select Skills" class="chosen-select" multiple>
					{% for cat in categories %}
						<option value="">{{ cat.title }}</option>
					{% endfor %}
				</select>
				<div class="margin-top-15"></div>
				<button class="button">Filter</button>
		</div>

		<!-- Location -->
		<div class="widget">
			<h4>Location (not impemented)</h4>
			<form action="#" method="get">
				<input type="text" placeholder="State / Province" value=""/>
				<input type="text" placeholder="City" value=""/>

				<input type="text" class="miles" placeholder="Miles" value=""/>
				<label for="zip-code" class="from">from</label>
				<input type="text" id="zip-code" class="zip-code" placeholder="Zip-Code" value=""/><br>

				<button class="button">Filter</button>
			</form>
		</div>

	</div>
	<!-- Widgets / End -->
</div>

<script>

var outside = null;

$(document).on("DOMNodeInserted", function(e) {
	var li = $(this)
	var found = li.find('.search-choice span').text();
	var found_arr = found.split(/(?=[A-Z])/)
	if (found !== "") {
		outside = found_arr
	} 
});

$(document).ready(function() {
	$("button[class='button']").click(function() {
		for (let i = 0; i < outside.length; i++){
			if (i != 0) {
				outside[i] = "&?category_val"+(i+1)+"="+outside[i] 
			} 
		}
		loc = outside.join('') 
		loc = "?category_val=" + loc
		window.location.replace("{% url 'jobposts:search-resumes' %}" + loc)
		$.ajax({
			type:'GET',
			url:'{% url "jobposts:search-resumes" %}',
			data:{
				category_val:outside[0],
				category_val2:outside[1],
				category_val3:outside[2],
				category_val4:outside[3],
			},
    	});
	});
});

</script>

{% endblock %}