{% load employer_tags %}

{% if user.is_authenticated and user.is_employer %}
    <div class="bookmark">
        {% is_resume_bookmarked resume.id request.user as is_resume_booked %}
            {% if is_resume_booked %}
                <a style=""href="{{ resume.get_unbookmark_url }}">
                    <img style="height:40px; width:50px; margin-left: 0px;"id="bookmarked-{{ resume.id }}" src="https://img.icons8.com/ios-filled/50/000000/bookmark-ribbon.png"/>
                </a>
            {% else %}
                <a href="{{ resume.get_bookmark_url }}">
                    <img style="height:40px; width:50px; margin-left: 0px;" id="bookmarked-{{ resume.id }}" src="https://img.icons8.com/ios/50/000000/bookmark-ribbon.png"/>
                </a>
            {% endif %}

            <!-- jQuery to change bookmark icon on hover depending on the job id -->
            <script>
                $(document).ready(function(){
                    $("img[id^='bookmarked-{{ resume.id }}']").on({
                        {% if is_resume_booked %}
                            mouseenter: function() {
                                $(this).attr("src","https://img.icons8.com/ios/50/000000/bookmark-ribbon.png");
                            },
                            mouseleave: function() {
                                $(this).attr("src","https://img.icons8.com/ios-filled/50/000000/bookmark-ribbon.png");
                            }
                        {% else %}
                            mouseenter: function() {
                                $(this).attr("src","https://img.icons8.com/ios-filled/50/000000/bookmark-ribbon.png");
                            },
                            mouseleave: function() {
                                $(this).attr("src","https://img.icons8.com/ios/50/000000/bookmark-ribbon.png");
                            }
                        {% endif %}
                    });	
                });
            </script>
    </div>

{% endif %}
  