{% extends "base.html" %}

{% block title %}| Confirm Delete {% endblock title %}

{% block content %}


    <div class="container-own">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Hey {{ request.user.username }}!</legend>
                <h2>Are you sure you want to delete your following post: "{{ object.title }}"
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'jobposts:job-detail' object.id %}">Cancel</a>
            </div>
            
        </form>
    </div>
    <div style="margin-bottom:300px;"></div>

{% endblock content %}
