{% extends "base.html" %}

{% load static %}
{% load accounts_tags %}
{% load candidate_tags %}

{% block title %}| {{ job.title }} {% endblock title %}

{% block content %}

{% get_dominant_color job.company_name.company.user as dominant_col %}
{% is_bookmarked job.id request.user as is_booked %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container-own">
		<div class="ten columns">
			<span>IT / Software</span>
			<h2>{{ job.title }}{% if job.job_type == "1" %} <span class="full-time">Full-Time</span>{%else%} <span class="part-time">Part-Time</span>{% endif %}</h2>
		</div>

		{% if not job.company_name.company.user.id == request.user.id and user.is_candidate %}
			{% if is_booked %}
				<div class="six columns">
					<a href="{{ job.get_unbookmark_url }}" class="button dark"><i class="fa fa-star"></i> Delete Bookmark</a>
				</div>
			{% else %}
				<div class="six columns">
					<a href="{{ job.get_bookmark_url }}" class="button dark"><i class="fa fa-star-o"></i> Bookmark This Job</a>
				</div>
			{% endif %}
		{% endif  %}

	</div>
</div>


<!-- Content
================================================== -->
<div class="container-own">
	
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<!-- Company Info -->
		<div class="company-info" style="height: 150px;">
			<img src="{{ job.company_name.company.company_thumb.url }}" alt="">
			<div class="content">
				<div style="display:inline-block; width: 650px;">
					<h4 style="display:inline-block; margin-right:10px;">{{ job.company_name.company.company_name }}</h4>{% if dominant_col %}<span class="dot" style="background-color:{{ dominant_col }}"></span>{% endif %}
					{% if job.company_name.company.user.id == request.user.id %}
					<div class="dropdown" style="float:right; ">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#8B8D7E;">
							Update Post
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{% url 'jobposts:job-update' job.id %}">Update</a>
							<a class="dropdown-item" href="{% url 'jobposts:job-delete' job.id %}">Delete</a>
						</div>
					</div>
				{% endif %}
				
				
				</div>
				<div>
				<span><a href="{{ job.company_name.company.company_website }}"><i class="fa fa-link"></i> Website</a></span>
				{% if job.company_name.company.twitter_link %}
				<span><a href="{{ job.company_name.company.twitter_link }}"><i class="fa fa-twitter"></i> @something</a></span>
				{% endif %}
				</div>
			</div>
			
			<div class="clearfix"></div>
		</div>

		{{ job.description|safe }}

	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Overview</h4>

			<div class="job-overview">
				
				<ul>
					<li>
						<i class="fa fa-map-marker" style="color:#302A30;"></i>
						<div>
							<strong>Location:</strong>
                            {% for loc in job.location.all %}
							<span>{{ loc.title }}</span>
                            {% endfor %}
						</div>
					</li>
					<li>
						<i class="fa fa-user" style="color:#302A30;"></i>
						<div>
							<strong>Job Title:</strong>
							<span>{{ job.title }}</span>
						</div>
					</li>
					<li>
						<i class="fa fa-clock-o" style="color:#302A30;"></i>
						<div>
							<strong>Hours:</strong>
							{% if job.job_type == "1" %}
							<span>40h / week</span>
							{% else %}
							<span>< 20h / week</span>
							{% endif %}
						</div>
					</li>
					{% if hourly > 1 %}
					<li>
						<i class="fa fa-money" style="color:#302A30;"></i>
						<div>
							<strong>Rate:</strong>
							<span>{{ hourly }} € / hour</span>
						</div>
					</li>
					{% endif %}
					<li>
						<i class="fa fa-gears" style="color:#302A30;"></i>
						<div>
							<strong>Tech required:</strong>
							<div style="margin-bottom:15px;"></div>
								{% for stack in job.category.all %}
									<img src="{{ stack.category_thumb.url }}" style="width:30px;display:inline-block;margin: 10px;">
								{% endfor %}
						</div>
					</li>
					{% if job.closing %}
					<li>
						<i class="fa fa-caret-square-o-right" style="color:#302A30;"></i>
						<div>
							<strong>Closing:</strong>
							<div style="margin-bottom:15px;"></div>
								<span>{{ job.closing }}</span>
						</div>
					</li>
					{% endif %}
				</ul>


				<a href="{{ job.apply_url }}" class="popup-with-zoom-anim button">Apply For This Job</a>

				<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
					<div class="small-dialog-headline">
						<h2>Apply For This Job</h2>
					</div>

					<div class="small-dialog-content">
						<form action="#" method="get" >
							<input type="text" placeholder="Full Name" value=""/>
							<input type="text" placeholder="Email Address" value=""/>
							<textarea placeholder="Your message / cover letter sent to the employer"></textarea>

							<!-- Upload CV -->
							<div class="upload-info"><strong>Upload your CV (optional)</strong> <span>Max. file size: 5MB</span></div>
							<div class="clearfix"></div>

							<label class="upload-btn">
							    <input type="file" multiple />
							    <i class="fa fa-upload"></i> Browse
							</label>
							<span class="fake-input">No file selected</span>

							<div class="divider"></div>

							<button class="send">Send Application</button>
						</form>
					</div>
					
				</div>

			</div>

		</div>

	</div>
	<!-- Widgets / End -->


</div>

<div style="margin-bottom:40px;"></div>

{% endblock content %}
<!-- Footer
================================================== -->
