{% extends 'base.html' %}

{% block title %}| Remotes {% endblock title %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container-own">
		<div class="ten columns">
			<span>We have collected {{ jobs|length }} remote jobs from the web!</span>
			<h2>European Remote opportunities</h2>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container-own">
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<form action="#" method="get" class="list-search">
			<button><i class="fa fa-search"></i></button>
			<input type="text" placeholder="job title, keywords or company name" value=""/>
			<div class="clearfix"></div>
		</form>

		<ul class="job-list full">
            {% for job in jobs %}
                <li><a href="{{ job.apply_link }}" target="_blank" style="text-decoration: none;">
                    <img src="{{ job.company_image }}" alt="">
                        <div class="job-list-content">
                            <h4>{{ job.title }} <span class="{{ job.job_type|lower }}">{{ job.job_type }}</span></h4>
                            <div class="job-icons">
                                <span><i class="fa fa-briefcase"></i> {{ job.company }}</span>
                                <span><i class="fa fa-map-marker"></i> {{ job.region }}</span>
                                {% if job.source %}
                                <span><i class="fa fa-magnet"></i> from: {{ job.strip_source_url }}</span>
                                {% endif %}
                            </div>
                            <p></p>
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </li>
            {% endfor %}

			<div style="margin-top:30px;"></div>

            <div id="pagination-container">
				{% if jobs.has_previous %}
						<a href="?page={{ jobs.previous_page_number }}&byparttime">
						<button id="load1" value="job-remote" class="btn btn-outline-info mb-4 pag-margin">
							Back
						</button>
					</a>
				{% endif %}

				{% if jobs.has_next %}
					<a href="?page={{ jobs.next_page_number }}&byparttime">
						<button id="load1" value="job-remote" class="btn btn-outline-info mb-4 pag-margin">
							Load more
						</button>
					</a>
				{% endif %}
			</div>
        </ul>

		<div class="clearfix"></div>

	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
            <h3>!!Nothing implemented on remote filters!!</h3>
			<h4>Sort by</h4>

			<!-- Select -->
			<select data-placeholder="Choose Category" class="chosen-select-no-single">
				<option selected="selected" value="recent">Newest</option>
				<option value="oldest">Oldest</option>
				<option value="expiry">Expiring Soon</option>
				<option value="ratehigh">Hourly Rate – Highest First</option>
				<option value="ratelow">Hourly Rate – Lowest First</option>
			</select>

		</div>

		<!-- Location -->
		<div class="widget">
			<h4>Location</h4>
			<form action="#" method="get">
				<input type="text" placeholder="State / Province" value=""/>
				<input type="text" placeholder="City" value=""/>

				<input type="text" class="miles" placeholder="Miles" value=""/>
				<label for="zip-code" class="from">from</label>
				<input type="text" id="zip-code" class="zip-code" placeholder="Zip-Code" value=""/><br>

				<button class="button">Filter</button>
			</form>
		</div>

		<!-- Job Type -->
		<div class="widget">
			<h4>Job Type</h4>

			<ul class="checkboxes">
				<li>
					<input id="check-1" type="checkbox" name="check" value="check-1" checked>
					<label for="check-1">Any Type</label>
				</li>
				<li>
					<input id="check-2" type="checkbox" name="check" value="check-2">
					<label for="check-2">Full-Time <span>({{ count_jobs_fulltime }})</span></label>
				</li>
				<li>
					<input id="check-3" type="checkbox" name="check" value="check-3">
					<label for="check-3">Part-Time <span>(0)</span></label>
				</li>
				<li>
					<input id="check-4" type="checkbox" name="check" value="check-4">
					<label for="check-4">Contract <span>({{ count_jobs_contract }})</span></label>
				</li>
				<li>
					<input id="check-5" type="checkbox" name="check" value="check-5">
					<label for="check-5">Freelance <span>(0)</span></label>
				</li>
			</ul>

		</div>

	</div>
	<!-- Widgets / End -->

</div>

{% endblock %}