{% extends 'admin/base.html' %}

{% load static %}

{% block branding %}

<h1 id="head">
    <img src="https://logosolusa.com/wp-content/uploads/parser/Random-Logo-1.png" style="width:120px; margin-top:0px;" alt="Logo"/>
</h1>

{% endblock %}

{% block extrastyle %}

    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock %}