<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<title>EXCAREER {% block title %}{% endblock title %}</title>
{% include "head.html" %}

<body>
    <div id="wrapper" style="background-color:#fff">

        {% include "header.html" %}

        {% block content%}

        {% endblock content %}

        {% include "footer.html" %}

        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>

    </div>

        {% include "scripts.html"%}

</body>

</html>