{% extends "base.html" %}

{% load static %}

{% block title %}| Blog {% endblock title %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>Blog</h2>
			<span>Keep up to date with the latest news</span>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container-own">

	<!-- Blog Posts -->
	<div class="eleven columns">
		<div class="padding-right">

			<!-- Post -->
			{% for post in queryset %}
			<div class="post-container">
				<div class="post-img"><a href="{% url 'blogy:post_detail' post.id %}"><img src="{{ post.thumbnail.url }}" alt=""></a><div class="hover-icon"></div></div>
				<div class="post-content">
					<a href="{% url 'blogy:post_detail' post.id %}" style="text-decoration:none;"><h3>{{ post.title }}</h3></a>
					<div class="meta-tags">
						<span>{{ post.timestamp|timesince }} ago</span>
						<span><span class="material-icons" style="width:20px;">question_answer</span>{{ post.comment_count }}</span>
					</div>
					<p>{{ post.title|slice:"70" }}...</p>
					<a class="button" href="{% url 'blogy:post_detail' post.id %}">Read More</a>
				</div>
			</div>
			{% endfor %}

			<!-- Pagination -->
			<div class="pagination-container">
				<nav class="pagination">
					<ul>
						<li><a href="?{{ page_request_var }}={{ queryset.number }}" class="current-page">{{ queryset.number }}</a></li>
					</ul>
				</nav>

				<nav class="pagination-next-prev">
					<ul>
					{% if queryset.has_previous %}
						<li><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="prev" style="float:left;">Previous</a></li>
					{% endif %}
					{% if queryset.has_next %}
						<li><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="next">Next</a></li>
					{% endif %}
					</ul>
				</nav>
			</div>

		</div>
	</div>
	<!-- Blog Posts / End -->


	<!-- Widgets -->
	<div class="five columns blog">

		<!-- Search -->
		<div class="widget">
			<h4>Search</h4>
			<form action="{% url 'blogy:search' %}">
			<div class="widget-box search">
				<div class="input">
					<input name="q" class="search-field" type="text" placeholder="To search type and hit enter" value="{{ request.GET.q }}"/>
				</div>
			</div>
			</form>
		</div>

		<div class="widget">
			<h4>Got any questions?</h4>
			<div class="widget-box">
				<p>If you are having any questions, please feel free to ask.</p>
				<a href="contact.html" class="button widget-btn"><i class="fa fa-envelope"></i> Drop Us a Line</a>
			</div>
		</div>

		<!-- Tabs -->
		<div class="widget">

			<ul class="tabs-nav blog">
				<li class="active"><a href="#tab2">Featured</a></li>
				<li><a href="#tab3">Recent</a></li>
			</ul>

			<!-- Tabs Content -->
			<div class="tabs-container">

				<div class="tab-content" id="tab1">
					
					<!-- Recent Posts -->
					<ul class="widget-tabs">
						
						{% for post in featured %}
						<li>
							<div class="widget-thumb">
								<a href="{% url 'blogy:post_detail' post.id %}"><img src="{{ post.thumbnail.url }}" alt="" /></a>
							</div>
							
							<div class="widget-text">
								<h5><a href="{% url 'blogy:post_detail' post.id %}">{{ post.title }}</a></h5>
								<span>{{ post.timestamp|timesince }} ago</span>
							</div>
							<div class="clearfix"></div>

						</li>
						{% endfor %}
						
					</ul>
		
				</div>

				<div class="tab-content" id="tab2">
				
					<!-- Featured Posts -->
					<ul class="widget-tabs">

						<!-- Post #1 -->
						{% for post in featured %}
						<li>
							<div class="widget-thumb">
								<a href="{% url 'blogy:post_detail' post.id %}"><img src="{{ post.thumbnail.url }}" alt="" /></a>
							</div>
							
							<div class="widget-text">
								<h5><a href="{% url 'blogy:post_detail' post.id %}">{{ post.title }}</a></h5>
								<span>{{ post.timestamp|timesince }} ago</span>
							</div>
							<div class="clearfix"></div>

						</li>
						{% endfor %}
						
					</ul>
				</div>

				<div class="tab-content" id="tab3">
				
					<!-- Recent Posts -->
					<ul class="widget-tabs">
						
						<!-- Post  -->
						{% for post in most_recent %}
						<li>
							<div class="widget-thumb">
								<a href="{% url 'blogy:post_detail' post.id %}"><img src="{{ post.thumbnail.url }}" alt="" /></a>
							</div>
							
							<div class="widget-text">
								<h5><a href="{% url 'blogy:post_detail' post.id %}">{{ post.title }}</a></h5>
								<span>{{ post.timestamp|timesince }} ago</span>
							</div>
							<div class="clearfix"></div>

						</li>
						{% endfor %}
					
					</ul>
				</div>
				
			</div>
		</div>


		<div class="widget">
			<h4>Social</h4>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>

		</div>
		
		<div class="clearfix"></div>
		<div class="margin-bottom-40"></div>

	</div>
	<!-- Widgets / End -->

</div>

{% endblock content %}


