{% load static %}

<!-- Header
================================================== -->
<header style="box-shadow: 2px 2px 7px;">
<div class="container-own">
	<div class="sixteen columns">
	
		<!-- Logo -->
		<div id="logo">
			<h1><a href="{% url 'index' %}"><img src="https://logosolusa.com/wp-content/uploads/parser/Random-Logo-1.png" style="width:100px; margin-top:16px;" alt="Logo" /></a></h1>
		</div>

		<!-- Menu -->
		<nav id="navigation" class="menu">
			<ul id="responsive">

				{% url 'index' as ind %}
				{% if request.path == ind %}
					<li><a href="{% url 'index' %}" id="current" style="box-shadow: 2px 2px 2px #3C717F;">Home</a>
				{% else %}
					<li><a href="{% url 'index' %}">Home</a></li>
				{% endif %}

				{% url 'jobposts:job-list' as list %}
					<li><a href="{% url 'jobposts:job-list' %}" {%if request.path == list %}id="current" style="box-shadow: 2px 2px 2px #3C717F;"{%else%}{%endif%}>Browse Jobs</a></li>
				{% url 'jobposts:browse-resumes' as br %}	
					<li><a href="{% url 'jobposts:browse-resumes' %}" {%if request.path == br %}id="current" style="box-shadow: 2px 2px 2px #3C717F;"{%else%}{%endif%}>Browse Resumes</a></li>
				{% url 'jobposts:browse-remotes' as bre %}	
					<li><a href="{% url 'jobposts:browse-remotes' %}" {%if request.path == bre %}id="current" style="box-shadow: 2px 2px 2px #3C717F;"{%else%}{%endif%}>Browse Remotes</a></li>

				{% if user.is_employer and not user.is_candidate %}

					{% url 'jobposts:job-create' as jc %}
					<li><a href="{% url 'jobposts:job-create' %}" {% if request.path == jc %}id="current" style="box-shadow: 2px 2px 2px #3C717F;"{%else%}{%endif%}>Post Job</a></li>

				{% endif %}

				{% url 'blogy:index_blog' as bindex %}
				{% if request.path == bindex or '/blog/post/' in request.get_full_path %}
					<li><a href="{% url 'blogy:index_blog' %}" id="current" style="box-shadow: 2px 2px 2px #3C717F;">Blog</a></li>
				{% else %}
					<li><a href="{% url 'blogy:index_blog' %}">Blog</a></li>
				{% endif %}
			</ul>

			<ul class="float-right">
			{% if user.is_authenticated %}
				
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" style="padding: 0px; display: inline-flex; color: white;" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

						{% if user.is_employer %}
							{% with dominant=request.user.company.dominant_color_in_model %}
								<img class="rounded-circle" src="{{ user.company.company_thumb.url }}" style="width:40px; border:solid #505050 1.3px; box-shadow: 2px 2px {% if dominant %}{{ dominant }}{% endif %}" alt=""/>
							{% endwith %}
						{% endif %}

						{% if user.is_candidate %}
							{% with dominant=request.user.candidateprofile.dominant_color_in_model %}
								<img class="rounded-circle" src="{{ user.candidateprofile.image.url }}" style="width:40px; border:solid #505050 1.3px; box-shadow: 2px 2px {% if dominant %}{{ dominant }}{% endif %}" alt=""/>	
							{% endwith %}
						{% endif %}
						
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown2">
						<a class="dropdown-item" href="{% url 'accounts:settings'%}">Settings</a>
						<a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
					</div>
				</div>
				

			{% else %}
				<li><a href="{% url 'accounts:register' %}" {% if 'register' in request.path %}id="current"{%else%}{%endif%}><i class="fa fa-user"></i> Register</a></li>
				<li><a href="{% url 'accounts:login' %}" {% if 'login' in request.path%}id="current"{%else%}{%endif%}><i class="fa fa-lock"></i> Log In</a></li>
			{% endif %}
			</ul>

		</nav>

		<!-- Navigation -->
		<div id="mobile-navigation">
			<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>
