{% extends 'base.html' %}

{% load static %}
{% block title %} | HOME {% endblock %}

<!-- Header
================================================== -->

{% block content %}

{% load customtags %}

<!-- Banner
================================================== -->
<div id="banner" style="background: url(https://yonseiuicscribe.com/wp-content/uploads/2019/05/Estonia_1920x1080.jpg); background-attachment: fixed; width:100%; background-repeat: no-repeat; background-size:cover;">
	<div class="container-own">
		<div class="sixteen columns">
			
			<div class="search-container">

				<!-- Form -->
				<h2 style="border: solid; width: 18%; text-align: center; box-shadow: 2px 2px #877C7D;">Find job</h2>
				<form action="{% url 'jobposts:search' %}">
					<input name="keywords" type="text" class="ico-01" placeholder="job title, keywords or company name" value=""/>
					<input name="city" type="text" class="ico-02" placeholder="city" value=""/>
					<button style="box-shadow: 2px 2px #877C7D;"><i class="fa fa-search"></i></button>
				</form>

				<!-- Browse Jobs -->
				<div class="browse-jobs">
					Browse job offers by <a href="{% url 'jobposts:categories'%}"> category</a> or <a href="#">location</a>
				</div>
				
				<!-- Announce -->
				<div class="announce">
					Find the best job on the estonian market! <br/>
					Over <strong>{{ count_total_jobs }}</strong> job offers have been published in our portal!
				</div>

			</div>

		</div>
	</div>
</div>



<!-- Content
================================================== -->

<div class="margin-bottom-55"></div>

<div class="container-own">
	<div class="sixteen columns" style="margin-bottom:30px;">
		<h3 class="margin-bottom-25 underlined">Popular Categories</h3>
		{% for cat in categories %}
				<div style="max-width: 18rem; box-shadow: 2px 2px #877C7D;; display:inline-block; margin: 10px; border: solid 1px;">
				<a href="{% url 'jobposts:search' %}?category_val={{ cat.category__title }}">
					<div class="card-body text-dark" style="display:inline-block;vertical-align:top;">
					{% get_image cat.category__id as get_img %}
					{% for img in get_img %}
						<img src="{{ img.category_thumb.url }}" style="width:30px">
					{% endfor %}
					</div>
					<div style="display:inline-block; padding: 20px; color:black;">
						<div style="font-size: larger;">
							{{ cat.category__title }}							
						</div>
					</div>
				</a>
				</div>
		{% endfor %}	
		</div>
		
		<a href="{% url 'jobposts:categories' %}" class="button centered" style="margin-top:30px;">Browse All Categories</a>
	</div>
</div>

<div class="margin-bottom-55"></div>

<div class="container-own">
	
	<!-- Recent Jobs -->
		<div class="eleven columns">
			<div class="padding-right">
				<div class="">
					<h3 class="margin-bottom-25 underlined">Latest Jobs</h3>
				</div>
				<ul class="job-list">

					{% for job in latest %}
					<li class="highlighted"><a href="{% url 'jobposts:job-detail' job.id %}" style="text-decoration:none;"> <!-- Add absolute url -->
						<img src="{{ job.company_name.company.company_thumb.url }}" style="width:50px;" alt="">
						<div class="job-list-content">
							<h4>{{ job.title }} 
							{% if job.job_type == '1' %}
							<span class="full-time">Full time</span>
							{% endif %}
							{% if job.job_type == '2' %}
							<span class="part-time">Part-Time</span></h4>
							{% endif %}
							</h4>
							<div class="job-icons">

								<span><i class="fa fa-briefcase"></i>{{ job.company_name.company.company_name }}</span>

								{% for loc in job.location.all %}
								<span><i class="fa fa-map-marker"></i> {{ loc }}</span>
								{% endfor %}
							</div>
						</div>
						</a>
						<div class="clearfix"></div>
					</li>
					{% endfor %}
				</ul>

				<a href="{% url 'jobposts:job-list' %}" class="button centered" style="margin-top:30px;"><i class="fa fa-plus-circle"></i>Show More Jobs</a> <!-- Add /jobs link -->
				<div class="margin-bottom-55"></div>
		</div>
		</div>
		<!-- Job Spotlight -->
		<div class="five columns">
			<h3 class="margin-bottom-5 underlined">Job Spotlight</h3>

			<!-- Navigation -->
			<div class="showbiz-navigation">
				<div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
				<div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
			</div>
			<div class="clearfix"></div>
			
			<!-- Showbiz Container -->
			<div id="job-spotlight" class="showbiz-container">
				<div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1" >
					<div class="overflowholder">

						<ul>
							{% for post in featured %}
							<li>
								<div class="job-spotlight" style="box-shadow: 2px 2px #877C7D;">
									<a href="{% url 'jobposts:job-detail' post.id %}" style="text-decoration:none;"><h4 style="font-size: larger;">{{ post.title }}{% if post.job_type == '1' %} <span class="full-time">Full-Time</span>{%else%} <span class="part-time">Part-Time</span>{%endif%}</h4></a>
									<span><i class="fa fa-briefcase"></i> {{ post.company_name.company.company_name }}</span>
									{% for loc in post.location.all %}
									<span><i class="fa fa-map-marker"></i> {{ loc }}</span>
									{% endfor %}
									<br/>
									<span><i class="fa fa-money"></i> {{ post.salary }}€ / month</span>
									<div>
									{{ post.description|truncatewords_html:36|safe }}
									</div>
									<a href="{{ post.apply_url }}" class="button">Apply For This Job</a>
								</div>
							</li>
							{% endfor %}
						</ul>
						
						<div class="clearfix"></div>

					</div>
					<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>


<!-- Testimonials -->
<div id="testimonials">
	<!-- Slider -->
	<div class="container">
		<div class="sixteen columns">
			<div class="testimonials-slider">
			</div>
		</div>
	</div>
</div>

<!-- Recent Posts -->
<div class="container-own">
	<div class="sixteen columns">
		<h3 class="margin-bottom-25 underlined">Recent Blog Posts</h3>
	</div>

	{% for bp in latest_posts %}
	<div class="one-third column">

		<!-- Post #1 -->
		<div class="recent-post">
			<div class="recent-post-img"><a href=""><img src="{{ bp.thumbnail.url }}" alt="" style="clip: rect(0px,30px,200px,0px);"></a><div class="hover-icon"></div></div>
			<a href="{% url 'blogy:post_detail' bp.id %}" style="text-decoration:none;"><h4>{{ bp.title }}</h4></a>
			<div class="meta-tags">
				<span>{{ bp.timestamp|timesince }} ago</span>
				<span><span class="material-icons" style="font-size:14px">forum</span>{{ bp.comment_count }}</span>
			</div>
			<p>{{ bp.content|safe|truncatechars:9 }}</p>
			<a href="{% url 'blogy:post_detail' bp.id %}" class="button">Read More</a>
		</div>

	</div>
	{% endfor %}


</div>

{% endblock content %}

