{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single" style="background-color:#f6f6f6">
	<div class="container-own">

		<div class="sixteen columns">
			<h2>My Account</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>Login to your account</li>
				</ul>
			</nav>
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		</div>

	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container-own">

	<div class="my-account">

		<div class="tabs-container">
			<!-- Login -->
			<div class="tab-content" id="tab1" style="display: none;">

				<h3 class="margin-bottom-10 margin-top-10">Login</h3>

				<form method="POST" class="login">
					{% csrf_token %}
					{{ form|crispy }}
						
					
					<p class="form-row">
						<input type="submit" class="button" name="login" value="Login" />

						<label for="rememberme" class="rememberme">
					</p>

					<input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>

                    <p class="lost_password" style="padding-top:10px;">
						<a style="color:black;" href="{% url 'accounts:register' %}" >Need an account?</a>
					</p>

					<p class="lost_password">
						<a style="color:black;" href="#" >Lost Your Password?</a>
					</p>
					
				</form>
			</div>
		</div>
	</div>
</div>



<!-- Footer
================================================== -->

{% endblock %}