{% extends "base.html" %}

{% load static %}


{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>You have been successfully logged out! See you soon.</h2>
                <p class="lost_password">
					<a href="{% url 'accounts:login' %}" >Want to login again?</a>
                </p>
		</div>

	</div>
</div>





<!-- Footer
================================================== -->

{% endblock %}