{% extends "base.html" %}

{% load static %}

{% block content %}

<div id="titlebar" class="single">
	<div class="container-own">

		<div class="sixteen columns">
			<h2>Profile / {{ user.candidateprofile.user.username }}</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="{% url 'index' %}">Home</a></li>
					<li>Profile</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="container-own">
	<div class="sixteen columns">

            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
							{% if user.candidateprofile.image.url %}
                            <img src="{{ user.candidateprofile.image.url }}" style="margin-left: 55px;" alt=""/>
							{% else %}
							<p>Upload profile picture please!</p>
							{% endif %}
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h4>
                                        {{ user.candidateprofile.user.username  }}
                                    </h4>
                                    <h6>
                                        {{ user.company.company_description }}
                                    </h6>
                                    <p class="proile-rating">GENDER : <span>{{ user.candidateprofile.gender }}</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="profile-edit-btn" style="color: white; box-shadow: 3px 4px #333">Edit profile</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>SOCIALS</p>
							{% if user.candidateprofile.github_link %}
                            <a href="{{ user.candidateprofile.github_link }}">Github</a><br/>
							{% endif %} 
							{% if user.candidateprofile.twitter_link %}
                            <a href="{{ user.candidateprofile.twitter_link }}">Twitter</a><br/>
							{% endif %}
                            {% if user.candidateprofile.gitlab_link %}
                            <a href="user.candidateprofile.gitlab_link">Gitlab</a><br/>
                            {% endif %}
                            {% if user.candidateprofile.linkedin_link %}
                            <a href="{{ user.candidateprofile.linkedin_link }}">Linkedin</a>
                            {% endif %}
                            
                            <p>SKILLS</p>
                            {% for skill in user.candidateprofile.skills.all %}
                            <a>{{ skill }}</a><br/>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.first_name }} {{ user.last_name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.candidateprofile.phone }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.candidateprofile.current_job_status }}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Work Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.candidateprofile.experience_level }} years</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Language(s)</label>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>{{ user.candidateprofile.language1 }}</li>
                                                    <div style="margin:5px;"></div>
                                                    {% if user.candidateprofile.language2 %}
                                                    <li>{{ user.candidateprofile.language2 }}</li>
                                                    {% endif %}
                                                    <div style="margin:5px;"></div>
                                                    {% if user.candidateprofile.language3 %}
                                                    <li>{{ user.candidateprofile.language3 }}</li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>City</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.candidateprofile.city }}</p>
                                            </div>
                                        </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </form>           


	</div>
</div>

<div style="padding-top:10px; border-top: 1px solid #bbb;"></div>

<!-- Job alerts
================================================== -->
<div class="container-own">
	
	<!-- Table -->
	<div class="sixteen columns">

		<div style="box-shadow: 3px 3px;
                    border-top: solid 1px;
                    border-left: solid 1px;
                    text-align: center;">
            <h1 class="margin-bottom-25">Alerts (not implemented)</h1>
        </div>

    </div>

		<table class="manage-table resumes responsive-table">

			<tr>
				<th><i class="fa fa-file-text"></i> Alert Name</th>
				<th><i class="fa fa-calendar"></i> Date Created</th>
				<th><i class="fa fa-tags"></i> Keywords</th>
				<th><i class="fa fa-map-marker"></i> Location</th>
				<th><i class="fa fa-clock-o"></i> Frequency</th>
				<th><i class="fa fa-check-square-o"></i> Status</th>
				<th></th>
			</tr>

			<!-- Item #1 -->
			<tr>
				<td class="alert-name">Looking for job</td>
				<td>September 30, 2015</td>
				<td class="keywords">Web Developer, PHP, HTML</td>
				<td>London</td>
				<td>Daily</td>
				<td>Enabled</td>
				<td class="action">
					<a href="#"><i class="fa fa-check-circle-o"></i> Show Results</a>
					<a href="#"><i class="fa fa-envelope"></i> Email</a>
					<a href="#"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#"><i class="fa  fa-eye-slash"></i> Disable</a>
					<a href="#" class="delete"><i class="fa fa-remove"></i> Delete</a>
				</td>
			</tr>

		</table>

		<br>

		<a href="#small-dialog" class="popup-with-zoom-anim button">Add Alert</a>

		<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
			<div class="small-dialog-headline">
				<h2>Add Alert</h2>
			</div>

			<div class="small-dialog-content">
				<form action="#" method="get" >
					<input type="text" placeholder="Alert Name" value=""/>
					<input type="text" placeholder="Keyword" value=""/>
					<input type="text" placeholder="Location" value=""/>

					<!-- Select -->
					<select data-placeholder="Email Frequency" class="chosen-select-no-single">
						<option value="">Email Frequency</option>
						<option value="1">Daily</option>
						<option value="2">Weekly</option>
						<option value="3">Fortnightly</option>
					</select>

					<div class="clearfix"></div>
					<div class="margin-top-15"></div>

					<!-- Select -->
					<select data-placeholder="Job Type" class="chosen-select" multiple>
						<option value="1">Full-Time</option>
						<option value="2">Part-Time</option>
						<option value="3">Internship</option>
						<option value="4">Freelance</option>
						<option value="5">Temporary</option>
					</select>

					<div class="margin-top-20"></div>
					<div class="divider"></div>

					<button class="send">Save Alert</button>
				</form>
			</div>
		</div>

	</div>

</div>

<div class="margin-bottom-55"></div>

<div style="padding-top:10px; border-top: 1px solid #bbb;"></div>

<div class="container-own">
	
	<!-- Table -->
	<div class="sixteen columns">

    <div>
        <h1 class="margin-bottom-25" style="box-shadow: 3px 3px;
                                            border-top: solid 1px;
                                            border-left: solid 1px;
                                            text-align: center;">
                                            My Resumes</h1>
    </div>

    </div>

		<table class="manage-table resumes responsive-table">

			<tr>
				<th><i class="fa fa-user"></i> Name</th>
				<th><i class="fa fa-file-text"></i> Title</th>
				<th><i class="fa fa-map-marker"></i> Location</th>
				<th><i class="fa fa-calendar"></i> Date Posted</th>
				<th></th>
			</tr>

			<!-- Resumes -->
            {% if resumes %}
                {% for resume in resumes %}
                    <tr>
                        <td class="title">{{ resume.owner.first_name }} {{ resume.owner.last_name }} (you)</td>
                        <td>{{ resume.professional_title }}</td>
                        <td>{{ resume.location }}</td>
                        <td>{{ resume.date_created|date:"d, M, Y" }}</td>
                        <td class="action">
                            <a href="{% url 'accounts:resume-update' resume.id %}"><i class="fa fa-pencil"></i> Edit</a>
                            <a href="{% url 'accounts:resume' resume.id %}"><i class="fa  fa-eye-slash"></i> See</a>
                            <a href="{% url 'accounts:resume-delete' resume.id %}" class="delete"><i class="fa fa-remove"></i> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

		</table>

		<br>

		<a href="{% url 'accounts:add-resume' %}" class="button">Add Resume</a>

	</div>

</div>

<div class="margin-bottom-55"></div>

<div style="padding-top:10px; border-top: 1px solid #bbb;"></div>

<div class="container-own">
	
	<!-- Table -->
	<div class="sixteen columns">

    <!-- Resume section -->
    <div>
        <h1 class="margin-bottom-25" style="box-shadow: 3px 3px;
                                            border-top: solid 1px;
                                            border-left: solid 1px;
                                            text-align: center;">
                                            Bookmarked Jobs</h1>
    </div>

		<table class="manage-table resumes responsive-table">

			<tr>
				<th><i class="fa fa-file-text"></i> Title</th>
				<th><i class="fa fa-check-square-o"></i> Applied?</th>
				<th><i class="fa fa-calendar"></i> Bookmarked time</th>
				<th><i class="fa fa-calendar"></i> Job Expires</th>
				<th><i class="fa fa-user"></i> Applications</th>
				<th></th>
			</tr>

			<!-- Bookmarked jobs -->
            {% if bookmarked_jobs %}
                {% for book in bookmarked_jobs %}
                    
                    <tr>
                        <td class="title"><a href="{% url 'jobposts:job-detail' book.job.id %}">{{ book.job.title }} </a></td>
                        <td>
                            <input id="#" type="checkbox" name="is_applied_check" value="{{ book.id }}" {% if book.is_applied %}checked{%endif%}>
                        </td>
                        <td>{{ book.done_time|date:"d, M, Y" }}</td>
                        <td>{%if book.job.closing%}{{ book.job.closing|date:"d, M, Y" }}{%else%}Not set{%endif%}</td>
                        <td class="action">
                            <a href="{% url 'jobposts:job-unbookmark' book.job.id %}"><i class="fa fa-pencil"></i> Delete</a>
                        </td>
                    </tr>

                {% endfor %}
            {% endif %}
		</table>
		<br>
	</div>
</div>

<div class="margin-bottom-55"></div>

<script>
$(document).ready(function (){
    $("input[name=is_applied_check]").change(function() {
        if (this.checked) {
            $.ajax({
                type:'POST',
                url:'{% url "accounts:profile" %}',
                data:{
                    is_checked:"true",
                    book_id:$(this).val(),
                }
            });
        } else {
            $.ajax({
                type:'POST',
                url:'{% url "accounts:profile" %}',
                data:{
                    is_checked:"false",
                    book_id:$(this).val(),
                },
            });
        };
    });
})

</script>

<!-- Footer
================================================== -->

{% endblock content %}