{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block content %}

<main class="main" role="main">
        <div class="bg-white">
            <div class="container-fluid p-0">
                <div class="row d-flex align-items-center no-gutters vh-100">
                    <div class="col-12 col-sm-5 col-lg-6 order-sm-2 h-100 image-side bg-primary"> <img src="https://i.pinimg.com/originals/c7/d8/2f/c7d82f9652b12d3407c127d92095971e.jpg" style="height: 100%;"class="img-fluid img-cover" alt="" /> 
                    
                    </div>
                    <div class="col-12 col-sm-7 col-lg-6 order-sm-1 position-relative p-4">
                        <div class="row d-flex align-items-center flex-column content-box h-100 p-sm-4">
                         
                            <div class="col-lg-7 col-md-8 col-12">

                                <div class="">

                                    <div class="my-account">
                                
                                        <ul class="tabs-nav">
                                            <li class=""><a href="#tab1">Candidate</a></li>
                                            <li><a href="#tab2">Employer</a></li>
                                        </ul>
                                
                                        <div class="tabs-container">
                                
                                                <!-- Register -->
                                                <div class="tab-content" id="tab1" style="display: none;">
                                
                                                    <h3 class="margin-bottom-10 margin-top-10">Register as a candidate</h3>
                                
                                                    <form method="POST" class="register">
                                                        {% csrf_token %}
                                                        {{ form_candidate|crispy }}
                                                                    
                                                        <p class="lost_password">
                                                            <a href="{% url 'accounts:register' %}" >Already have account?</a>
                                                        </p>
                                                        <p class="form-row">
                                                            <input type="submit" class="button" name="register-candidate" value="Register" />
                                                        </p>
                                                        
                                                    </form>
                                                </div>
                                
                                                <div class="tab-content" id="tab2" style="display: none;">
                                
                                                    <h3 class="margin-bottom-10 margin-top-10">Register as an employer</h3>
                                
                                                    <form method="POST" class="register">
                                                        {% csrf_token %}
                                                        {{ form_employer|crispy }}
                                                                    
                                                        <p class="lost_password">
                                                            <a href="{% url 'accounts:register' %}" >Already have account?</a>
                                                        </p>
                                                        <p class="form-row">
                                                            <input type="submit" class="button" name="register-employer" value="Register" />
                                                        </p>
                                                        
                                                    </form>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                
                             
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}