{% load static %}

{% load crispy_forms_tags %}

<script src="{% static 'scripts/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'scripts/custom.js' %}"></script>
<script src="{% static 'scripts/jquery.superfish.js' %}"></script>
<script src="{% static 'scripts/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'scripts/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'scripts/jquery.themepunch.showbizpro.min.js' %}"></script>
<script src="{% static 'scripts/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'scripts/chosen.jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'scripts/waypoints.min.js' %}"></script>
<script src="{% static 'scripts/jquery.counterup.min.js' %}"></script>
<script src="{% static 'scripts/jquery.jpanelmenu.js' %}"></script>
<script src="{% static 'scripts/stacktable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/backgroundChange.js' %}">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script type="text/javascript" src="{% static 'js/scroll/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scroll/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scroll/infinite.min.js' %}"></script>


<script>

  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

</script>

<!-- Infinite scrolling -->
<script>
  var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {
    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }

  });
</script>

<!-- Hiding other job divs before filtering -->
<script>

$(document).ready(function() {
  $('#job-list-salary-highest').hide();
  $('#job-list-salary-lowest').hide();
  $('#job-list-oldest').hide();
  $('#job-list-type-fulltime').hide();
  $('#job-list-type-parttime').hide();
  $('#job-list-expiring').hide()
}); 

</script>

<!-- Sort by  -->
<script>

$(document).ready(function() {
 $('#drop').change(function() {
        var val1 = $('#drop option:selected').val();
        console.log(val1);
        $('#job-list').hide();
        $.ajax({
          type:'POST',
          url:'{% url "jobposts:job-list" %}',
          data:{
              sort:$('#drop option:selected').val(),
        },
        dataType: 'json',
        success: function(data){
          if (data.value == '-salary') {
            console.log("success");
            $("div[id^='job-list']").hide()
            $('#job-list-salary-highest').show()
          } 
          else if (data.value == 'salary') {
            console.log("success")
            $("div[id^='job-list']").hide()
            $('#job-list-salary-lowest').show()
          } 
          else if (data.value == 'created_at') {
            console.log("success")
            $("div[id^='job-list']").hide();
            $('#job-list-oldest').show();
          } 
          else if (data.value == '-created_at') {
            console.log("success")
            $("div[id^='job-list']").hide();
            $('#job-list').show();
          } 
          else if (data.value == '-expiring') {
            $("div[id^='job-list']").hide();
            $('#job-list-expiring').show();
          }
        }
    });
 });
});

</script>

<!-- Display job depending on checked value, e.g full-time, part-time -->
<script>

$(document).ready(function() {
  $("input[name=check]").change(function() {
    console.log("checked");
    val1 = $(this).val();
    $.ajax({
          type:'POST',
          url:'{% url "jobposts:job-list" %}',
          data:{
              check_val:val1,
        },
        dataType: 'json',
        success: function(data) {
          if (data.checked_value == 'check-2') {
            $("div[id^='job-list']").hide();
            $('#job-list-type-fulltime').show();
            $("input[value^=check]").prop("checked",false);
            $(`input[value^=${data.checked_value}]`).prop("checked",true);
          }
          else if (data.checked_value == 'check-3') {
            $("div[id^='job-list']").hide();
            $('#job-list-type-parttime').show();
            $("input[value^=check]").prop("checked",false);
            $(`input[value^=${data.checked_value}]`).prop("checked",true);
          }
          else if (data.checked_value == 'check-1') {
            $("div[id^='job-list']").hide();
            $('#job-list').show();
            $("input[value^=check]").prop("checked",false);
            $(`input[value^=${data.checked_value}]`).prop("checked",true);
          }
        }
    });
  });
});

</script>

<script>

$(document).ready(function() {
  if(window.location.href.indexOf("&byoldest") > -1) {
      $("div[id^='job-list']").hide();
      $("#job-list-oldest").show();
      $('#drop').val('created_at')
  } 
  else if (window.location.href.indexOf("&byexpiring") > -1) {
      $("div[id^='job-list']").hide();
      $("#job-list-expiring").show();
      $('#drop').val('-expiring')
  }
  else if (window.location.href.indexOf("&byasc") > -1) {
      $("div[id^='job-list']").hide();
      $("#job-list-salary-lowest").show();
      $('#drop').val('salary')
  }
  else if (window.location.href.indexOf("&bydesc") > -1) {
      $("div[id^='job-list']").hide();
      $("#job-list-salary-highest").show();
      $('#drop').val('-salary')
  }
  else if (window.location.href.indexOf("&byfulltime") > -1) {
      $("div[id^='job-list']").hide();
      $("#job-list-type-fulltime").show();
  }
  else if (window.location.href.indexOf("&byparttime") > -1) {
      $("div[id^='job-list']").hide();
      $("#job-list-type-parttime").show();
  }

});

</script>

<script>

if (localStorage.getItem("url_storage_new")) {
    list_for_url = JSON.parse(localStorage.getItem("url_storage_new"));
    list_for_django = JSON.parse(localStorage.getItem("django_storage_new"))
} else {
    // No data, start with an empty array
    list_for_url = ['?'];
    list_for_django = [];
}

if (window.location.pathname == "/search/" || window.location.pathname == "/browse/") {
  localStorage.removeItem("url_storage_new");
  localStorage.removeItem("django_storage_new");
}

$(document).ready(function() {
  $("input[name=category-title]").change(function() {
    val1 = $(this).val();
    if (list_for_django.includes(val1)){
      index = list_for_django.indexOf(val1);
      if (index > -1) {
        list_for_url.splice(index + 1, 1);
        list_for_django.splice(index, 1)
     }
    }
    else {
      if (list_for_url.length < 2) {
        list_for_url.push("category_val=" + val1 + "&");
        list_for_django.push(val1);
      } else {
        list_for_url.push("category_val"+ (list_for_url.length) + "=" + val1 + "&");
        list_for_django.push(val1);
      }
    }

    localStorage.setItem("url_storage_new", JSON.stringify(list_for_url));
    localStorage.setItem("django_storage_new", JSON.stringify(list_for_django));

    // Reordering list because it's messing up if you take the second item off out of 3 items for example
    // it would then display val= and val=3 therefore display an error in django because there is a gap
    for (let i = 0; i < list_for_url.length; i++){
        if (i != 0) {
          loc = list_for_url[i].replace(/[0-9]/g, i); 
          list_for_url[i] = loc;
        }
    }

    loc = list_for_url.join('') 

    window.location.replace("{% url 'jobposts:search' %}" + loc)
    
    $.ajax({
      type:'GET',
      url:'{% url "jobposts:search" %}',
      data:{
          category_val:list_for_django[0],
          category_val2:list_for_django[1],
          category_val3:list_for_django[2],
          category_val4:list_for_django[3],
          category_val5:list_for_django[4],
          category_val6:list_for_django[5],
        },
    });
  });
});

</script>

<script>

const $dropdown = $(".dropdown");
const $dropdownToggle = $(".dropdown-toggle");
const $dropdownMenu = $(".dropdown-menu");
const showClass = "show";

$(window).on("load resize", function() {
  if (this.matchMedia("(min-width: 768px)").matches) {
    $dropdown.hover(
      function() {
        const $this = $(this);
        $this.addClass(showClass);
        $this.find($dropdownMenu).addClass(showClass);
      },
      function() {
        const $this = $(this);
        $this.removeClass(showClass);
        $this.find($dropdownToggle).attr("aria-expanded", "false");
        $this.find($dropdownMenu).removeClass(showClass);
      }
    );
  } else {
    $dropdown.off("mouseenter mouseleave");
  }
});

</script>

<!-- fades the alert messages -->
<script>

setTimeout(fade_out, 2000);

function fade_out() {
  $("div[class^='alert']").fadeOut().empty();
}

</script>