{% extends 'base.html' %}

{% block content %}

  <div id="app">
    <job-list></job-list>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    const app = new Vue({
      el: '#app'
    });

    Vue.component('job-list', {
      delimiters: ['[[', ']]'],
      data: function () {
        return {
          jobs: [
            {% for job in jobs %}
            { 
                jobtitle: '{{ job.title }}', 
                companyname: '{{ job.company_name }}' 
            }
            {% if not forloop.last %},{% endif %}
            {% endfor %}
          ]
        }
      },
      template: `
        <div>
        <h1>Job list</h1>
        <ul v-cloak v-if="jobs">
          <li v-for="job in jobs">
            <h2>[[ jobs.jobtitle ]]</h2>
          </li>
        </ul>
      </div>
      `
    });  
  </script>

{% endblock %}