{% extends 'base.html' %}

{% block content %}

{% if items_json %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type='text/javascript'>
    var people = {{ items_json|safe }};
  </script>

  <script type='text/javascript'>
    var jobs = {{ data_json|safe }};
  </script>

  <script>
    var logged_user = {{ logged_user }};
  </script>

  <div id="app">
    [[message]] {{ request.user }}

    <ul>
      <li v-for="person in people">
        <a v-bind:href="person.url">[[ person.name ]]</a> <button v-on:click="greet(person.name)">hey</button>
      </li>
    </ul>
  </div>

  <div id="app-2">
    <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
    </span>
  </div>

  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>

  <div id="app-4">
    <ol>
        <li v-for="todo in todos">
        [[ todo.text ]]
        </li>
    </ol>
  </div>

  <div id="app-5">
    <ol>
        <li v-for="job in jobs">
        [[ job.title ]]
        </li>
    </ol>
  </div>

  <div id="components-demo">
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>


  <script>
  
    new Vue({
        delimiters: ['[[', ']]']
    })

    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
          message: "Hello",
          people: people,
      },
      methods: {
          greet: function(name) {
              console.log('Hello from ' + name + '!')
          }
      }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'You loaded this page on ' + new Date().toLocaleString()
        }
    });

    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: false
        }
    });

    var app4 = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-4',
        data: {
            todos: [
            { text: 'Learn JavaScript' },
            { text: 'Learn Vue' },
            { text: 'Build something awesome' }
            ]
        }
    });

    var app5 = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-5',
        data: {
            jobs: jobs
        },
    });

  </script>

  <script>

    Vue.component('button-counter', {
        delimiters: ['[[', ']]'],
        data: function () {
            return {
                count: 0
        }
      },
      template: '<button v-on:click="count++">You clicked me [[ count ]] times.</button>'
    });

    new Vue({ el: '#components-demo' });

  </script>
{% else %}
  <p>No items available.</p>
{% endif %}

{% endblock %}