#header {
    height: 80px;
    background: #8F908D;
    color: #fff
}

#branding h1 {
    color: #fff
}

.object-tools a.addlink {
    box-shadow: 2px 2px 2px black;
}

a:link,
a:visited {
    color: rgb(102, 112, 141)
}

div.breadcrumbs {
    background: #857873;
}

.module caption {
    background: #8F908D;
}

#content-related {
    box-shadow: 2px 2px 2px #4b4949;
}