{% extends 'base.html' %}

{% block title %}| Resume {% endblock title %}
{% load employer_tags %}

{% block content %}

{% is_resume_bookmarked resume.id request.user as is_resume_booked %}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="resume">
	<div class="container-own">
		<div class="ten columns">
			<div class="resume-titlebar">
				<img src="{{ resume.owner.candidateprofile.image.url }}" alt="">
				<div class="resumes-list-content">
					<h4>{{ resume.name }} <span>{{ resume.professional_title }}</span></h4>
					{% if resume.owner.candidateprofile.image.url %}
						<span class="icons"><i class="fa fa-map-marker"></i> {{ resume.owner.candidateprofile.city }}</span>
					{% endif %}
					<span class="icons"><a href="#"><i class="fa fa-link"></i> Website</a></span>
					<span class="icons"><a href="mailto:{{ resume.owner.email }}"><i class="fa fa-envelope"></i> {{ resume.email }}</a></span>
					<div class="skills">
						{% for ski in resume.owner.candidateprofile.skills.all %}
							<span><img src="{{ ski.category_thumb.url }}" style="width:20px; height: 25px; float:none; padding-bottom: 6px;"><p style="display:inline; text-align:center;"> {{ ski }}</p></span>
						{% endfor %}
					</div>
					<div class="clearfix"></div>

				</div>
			</div>
		</div>

		<div class="six columns">
			<div class="two-buttons">
				{% if request.user.id != resume.owner.id %}
					<a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a>

					<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
						<div class="small-dialog-headline">
							<h2>Send Message to {{ resume.owner.first_name }} {{ resume.owner.last_name }}</h2>
						</div>

						<div class="small-dialog-content">
							<form action="#" method="get" >
								<input type="text" placeholder="Full Name" value=""/>
								<input type="text" placeholder="Email Address" value=""/>
								<textarea placeholder="Message"></textarea>

								<button class="send">Send Message</button>
							</form>
						</div>
						
					</div>
				{% endif %}

				{% if user.is_employer %}

					{% if is_resume_booked %}	
						<a href="{{ resume.get_unbookmark_url }}" class="button dark"><i class="fa fa-star"></i> Delete Bookmark</a>
					{% else %}
						<a href="{{ resume.get_bookmark_url }}" class="button dark"><i class="fa fa-star-o"></i> Bookmark This Resume</a>
					{% endif %}

				{% endif %}

				{% if request.user.id == resume.owner.id %}
				<div class="dropdown" style="float:right; ">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#8B8D7E;">
							Update Resume
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{% url 'accounts:resume-update' resume.id %}">Update</a>
							<a class="dropdown-item" href="{% url 'accounts:resume-delete' resume.id %}">Delete</a>
						</div>
				</div>
				{% endif %}

			</div>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container-own">
	<!-- Recent Jobs -->
	<div class="eight columns">
	<div class="padding-right">

		<h3 class="margin-bottom-15">About Me</h3>
			
		{{ resume.description|safe }}

	</div>
	</div>


	<!-- Widgets -->
	<div class="eight columns">

		<h3 class="margin-bottom-20">Education</h3>

		<!-- Resume Table -->
		<dl class="resume-table">

			{% if resume.second_education_school_name %}
				<dt>
					<span>Major: {{ resume.second_education_education_major}}</span>
					<strong><i class="fa fa-map-marker"></i> {{ resume.second_education_school_name }}</strong>
					<small class="date">{{ resume.second_education_start_date|date:"M Y" }} - {{ resume.second_education_end_date|date:"M Y" }}</small>
				</dt>
				<dd>
					<p>{{ resume.second_education_notes }}</p>
				</dd>
			{% endif %}

			{% if resume.education_school_name %}
				<dt>
					<span>Major: {{ resume.education_education_major }}</span>
					<strong><i class="fa fa-map-marker"></i> {{ resume.education_school_name }}</strong>
					<small class="date">{{ resume.education_start_date|date:"M Y" }} - {{ resume.education_end_date|date:"M Y" }}</small>
				</dt>
				<dd>
					<p>{{ resume.education_notes }}</p>
				</dd>
			{% else %}
			<p>User did not provide any information about its education for this particular resume</p>
			{% endif %}

		</dl>

		<h3 class="margin-bottom-20">Experience</h3>

		<!-- Resume Table -->
		<dl class="resume-table">
			{% if resume.second_experience_job_title %}
				<dt>
					<strong>{{ resume.second_experience_job_title }}</strong>
					<span class="icons"><i class="fa fa-map-marker"></i> {{ resume.second_experience_employer }}</span><br/>
					<small class="date">{{ resume.second_experience_start_date|date:"M Y" }} - {{ resume.second_experience_end_date|date:"M Y" }}</small>
				</dt>
				<dd>
					<p>{{ resume.second_experience_notes }}</p>
				</dd>
			{% endif %}

			{% if resume.experience_job_title %}
				<dt>
					<strong>{{ resume.experience_job_title }}</strong>
					<span class="icons"><i class="fa fa-map-marker"></i> {{ resume.experience_employer }}</span><br/>
					<small class="date">{{ resume.experience_start_date|date:"M Y" }} - {{ resume.experience_end_date|date:"M Y" }}</small>
				</dt>
				<dd>
					<p>{{ resume.experience_notes }}</p>
				</dd>
				{% else %}
				<p>User did not provide any information about its experience for this particular resume</p>
			{% endif %}

		</dl>

	</div>

</div>

{% endblock content %}