{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}| Update Resume {% endblock title %}

{% block content %}


<!-- Titlebar
================================================== -->
<div id="titlebar" class="single submit-page">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-plus-circle"></i> Update Resume</h2>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	
	<!-- Submit Page -->
	<div class="sixteen columns">
		<div class="submit-page">
       	<form method="POST" action="{% url 'accounts:resume-update' object.id %}" enctype="multipart/form-data" id="showall">
            {% csrf_token %}

			<!-- Email -->
			<div class="form">
				<h5>Your Name</h5>
				{{ form.name }}
			</div>

			<!-- Email -->
			<div class="form">
				<h5>Your Email</h5>
				{{ form.email }}
			</div>

			<!-- Title -->
			<div class="form">
				<h5>Professional Title</h5>
				{{ form.professional_title }}
			</div>

			<!-- Location -->
			<div class="form">
				<h5>Location</h5>
				{{ form.location }}
			</div>

			<!-- Description -->
			<div class="form">
				<h5>Resume Content</h5>
				{{ form.description }}
			</div>

			<div style="padding-top:10px; border-top: 1px solid #bbb;"></div>
			<!-- URls -->
			<h5>URL(s) <span>(socials, optional)</span></h5>

			<button id="close_url" type="button" style="float: right; background: #0304044d; font-size: 10px; padding: 7px;">X</button>
			<button type="button" id="add-url-button">+ Add socials/urls</button>
		
			<!-- urls fields will show on click -->

			<div style="margin-bottom:50px;"></div>
			<p class="note">Optionally provide links to any of your websites or social network profiles.</p>
			<div style="padding-top:10px; border-top: 1px solid #bbb;"></div>

			<!-- Education -->
			<h5>Education <span>(optional)</span></h5>
			<button id="close_education" type="button" style="float: right; background: #0304044d; font-size: 10px; padding: 7px;">X</button>

			<button type="button" id="education-button">+ Add education</button>
			<div style="margin-bottom:10px;"></div>

			<!-- Education div will show -->

			<div style="margin-bottom:50px;"></div>
			<div style="padding-top:10px; border-top: 1px solid #bbb;"></div>


			<!-- Experience  -->
			<h5>Experience <span>(optional)</span></h5>

			<button id="close_experience" type="button" style="float: right; background: #0304044d; font-size: 10px; padding: 7px;">X</button>
			<button type="button" id="experience-button">+ Add experience</button>

			<!-- Experience div is showing on click -->

			<div style="margin-bottom:50px;"></div>

			<div style="padding-top:10px; border-top: 1px solid #bbb;"></div>
			<button type="submit" class="button big margin-top-5">Update Resume <i class="fa fa-arrow-circle-right"></i></button>

		</form>
		</div>
	</div>

</div>


<script>

$(document).ready(function() {
        var domExperience = $(`<div style="margin-top:10px;"></div>
			<div id="experience">
				<h2>First Experience</h2>
				{{ form.experience_employer }}
				<div style="margin-bottom:5px;"></div>
				{{ form.experience_job_title }}
				<div style="margin-bottom:10px;"></div>
				{{ form.experience_start_date | as_crispy_field }}
				{{ form.experience_end_date | as_crispy_field }}
				<h6>Notes/Description</h6>
				{{ form.experience_notes }}
			</div>
			`);
		
		var domExperience2 = $(`<div style="margin-top:10px;"></div>
			<div id="second_experience">
				<h2>Second Experience</h2>
				{{ form.second_experience_employer }}
				<div style="margin-bottom:5px;"></div>
				{{ form.second_experience_job_title }}
				<div style="margin-bottom:10px;"></div>
				{{ form.second_experience_start_date | as_crispy_field }}
				{{ form.second_experience_end_date | as_crispy_field }}
				<h6>Notes/Description</h6>
				{{ form.second_experience_notes }}
			</div>
				<div style="margin-bottom:50px;"></div>
			`);
        
        var domElement = $(`<div style="margin-top:10px;"></div>
				<div id="education">
					<h2>First Education</h2>
					{{ form.education_school_name }}
					<div style="margin-bottom:10px;"></div>
					<h6>Education level</h6>
					{{ form.education_education_major }}
					<div style="margin-bottom: 10px;"></div>
					{{ form.education_start_date | as_crispy_field }}
					{{ form.education_end_date | as_crispy_field }}
					<h6>Notes/Description</h6>
					{{ form.education_notes }}
				</div>
				<div style="margin-bottom:50px;"></div>
			`);

		var domElement2 = $(`<div style="margin-top:10px;"></div>
				<div id="second_education">
					<h2>Second Education</h2>	
					{{ form.second_education_school_name }}
					<div style="margin-bottom:10px;"></div>
					<h6>Education level</h6>
					{{ form.second_education_education_major }}
					<div style="margin-bottom: 10px;"></div>
					{{ form.second_education_start_date | as_crispy_field }}
					{{ form.second_education_end_date | as_crispy_field }}
					<h6>Notes/Description</h6>
					{{ form.second_education_notes }}
					<div style="margin-bottom:50px;"></div>
				</div>
			`);
        
        var domUrl = $(`<div style="margin-top:10px;"></div>
				<div id="urls">
					<h2>First URL</h2>
					{{ form.url_name }}
					<div style="margin-bottom:5px;"></div>
					{{ form.url_url | as_crispy_field }}
				</div>
			`);
		
		var domUrl2 = $(`<div style="margin-top:10px;"></div>
				<div id="second_urls">
					<h2>Second URL</h2>
					{{ form.second_url_name }}
					<div style="margin-bottom:5px;"></div>
					{{ form.second_url_url | as_crispy_field }}
					<div style="margin-bottom:50px;"></div>
				</div>
			`);
		
		var expButtonCount = 0;
		var edButtonCount = 0;
		var urlButtonCount = 0;

		$("button[id='experience-button']").click(function(e) {
			expButtonCount++;
			if (expButtonCount > 2){
				expButtonCount = 2;
			} else if (expButtonCount < 0) {
				expButtonCount = 0
			}
			if (expButtonCount == 1) {
				$(this).after(domExperience);
				e.preventDefault();
			} else if (expButtonCount == 2) {
				$(this).after(domExperience2);
				e.preventDefault();
			}
		});

        $("button[id='education-button']").click(function(e) {
			edButtonCount++;
			if (edButtonCount > 2) {
			    edButtonCount = 2;
			} else if (edButtonCount < 0) {
				edButtonCount = 0;
			}
			if (edButtonCount == 1) {
				$(this).after(domElement);
				e.preventDefault();
			} else if (edButtonCount == 2) {
				$(this).after(domElement2);
				e.preventDefault();
			}
        });

        $("button[id='add-url-button']").click(function(e) { 
			urlButtonCount++;
			if (urlButtonCount > 2) {
				urlButtonCount = 2;
			} else if (urlButtonCount < 0) {
				urlButtonCount = 0;
			}
			if (urlButtonCount == 1){
				$(this).after(domUrl);
				e.preventDefault();
			} else if (urlButtonCount == 2) {
				$(this).after(domUrl2);
				e.preventDefault();
			}
        });

        $("#showall").submit(function() { 
            $("button[id='experience-button']").after(domExperience);
            $("button[id='education-button']").after(domElement);
            $("button[id='add-url-button']").after(domUrl);
			$("button[id='experience-button']").after(domExperience2);
			$("button[id='education-button']").after(domElement2);
			$("button[id='add-url-button']").after(domUrl2);
        });

		$("button[id='close_education']").click(function () {
			if (edButtonCount == 1) {
				$("#education").remove();
				edButtonCount--;
			} else if (edButtonCount == 2) {
				$("#second_education").remove();
				edButtonCount--;
			}
		})

		$("button[id='close_experience']").click(function () {
			if (expButtonCount == 1) {
				$("#experience").remove();
				expButtonCount--;
			} else if (expButtonCount == 2) {
				$("#second_experience").remove();
				expButtonCount--;
			}
		})

		$("button[id='close_url']").click(function () {
			if (urlButtonCount == 1) {
				$("#urls").remove();
				urlButtonCount--;
			} else if (urlButtonCount == 2) {
				$("#second_urls").remove();
				urlButtonCount--;
			}
		})
	});

</script>

{% endblock %}
 